:root {
    --primary: #9b59b6;
}

.section-header {
    text-align: center;
}

.steps {
    position: relative;
    margin-top: 32px;
}

.steps::after {
    content: "";
    position: absolute;
    width: 4px;
    background-color: #9b59b6;
    top: 0;
    bottom: 0;
    left: 50%;
}

.steps-container .content h2 {
    font-size: 0.95rem;
    margin-bottom: 0;
}

body.dark-mode .content h2 {
    color: #9b59b6;
}

.steps .content p {
    color: #4b4b4b;
    font-size: 0.85em;
    line-height: 1.6;
    margin-top: 10px;
}

body.dark-mode .content p {
    color: #ddd;
}

.steps-container {
    position: relative;
    /* background-color: inherit; */
    width: calc(50% + 32px);
    display: flex;

}

.steps-container .content {
    padding: 15px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 16px 27px rgb(0 11 30 / 10%);
}

body.dark-mode .steps-container .content {
    background-color: #1e1e1e;
}

.steps .steps-container:nth-child(even) {
    left: calc(50% - 32px);
    flex-direction: row-reverse;
}


.steps .steps-container .date {
    font-weight: 900;
    font-size: 16px;
    color: #ddd;
    margin-bottom: 10px;
    width: 62px;
    height: 62px;
    background-color: var(--primary);
    border-radius: 50%;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 777;
}

.step-line {
    width: 60px;
    background-color: #9b59b6;
    height: 4px;
    margin-top: 31px;
    flex-shrink: 0;
}

@media (max-width: 767px) {
    .steps::after {
        left: 32px;
    }

    .steps-container {
        left: 0;
        flex-direction: row-reverse;
        width: auto;
        margin-bottom: 16px;
    }

    .steps .steps-container:nth-child(even) {
        left: 0;
    }
}

/* .section-header h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1200px;
} */

/* .section-header hr {
    border: 1px solid #9b59b6;
    width: 56px;
} */

/* .bg-gradient_solid {
    background: var(--primary-gradient);
    color: #DDD;
    padding: 48px 0;
} */

/* .steps .content h2 {
    font-weight: 600;
    font-size: 16px;
    color: #676767;
} */